[project]
	description = TOR-Parent will server as a parent for those projects which require Code Review functionality.
	state = read only
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	push = group CI_Infrastructure_ENM_admin
	label-Verified = -1..+1 group CI_Infrastructure_ENM_admin
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group SEKA_ECN_DEPRECATED_PLEASE_REMOVE_FROM_PROJECT_CONFIG
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group Replication_USSJ_ECN_DO_NOT_REMOVE
	create = group CI_Infrastructure_ENM_admin
	forgeCommitter = group CI_Infrastructure_ENM_admin
	label-Code-Review = -2..+2 group CI_Infrastructure_ENM_admin
	rebase = group CI_Infrastructure_ENM_admin
	submit = group CI_Infrastructure_ENM_admin
	createTag = group CI_Infrastructure_ENM_admin
[access]
	inheritFrom = OSS/OSS-Parent
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "^refs/changes/master*"]
	push = group CI_Infrastructure_ENM_admin
[access "^refs/for/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/maintenance.*"]
	create = group Registered Users
	push = group Registered Users
	label-Code-Review = -1..+2 group Registered Users
[access "^refs/for/refs/heads/master*"]
	create = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/maintenance.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	push = group Registered Users
	createTag = group Registered Users
[plugin "eiffel"]
	enabled = false
